*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --box-width: 200px;
    --box-height: 100px;
    --box-width-md: 400px;
    --box-height-md: 210px;
    --box-indent-top: 10px auto 10px auto;
    --bg-color-box: gray;
    --border:2px solid black;
    --border-line: -4px;
    --section-height: calc(var(--box-height) + 20px);
    --section-height-md: calc(var(--box-height-md) + 20px);
}
.left{
    float: left;
}
.right{
    float: right;
}
.second__section{
    width: 100%;
    height: var(--section-height);
}
.second__section__box{
    width: var(--box-width);
    height: var(--box-height);
    background-color: var(--bg-color-box);
    margin: 10px;
    border: var(--border);
}
.first__section{
    width: 100%;
    height: var(--section-height);
}
.first__section__box{
    width: var(--box-width);
    height: var(--box-height);
    background-color: var(--bg-color-box);
    margin: 10px;
    border: var(--border);
}
.third__section{
    height: var(--section-height);
}
.third__section__box{
    width: var(--box-width);
    height: var(--box-height);
    background-color: var(--bg-color-box);
    margin: 10px;
    border: var(--border);
}
.fourth__section{
    height: var(--section-height-md);
}
.fourth__section__box{
    width: var(--box-width);
    height: var(--box-height);
    background-color: var(--bg-color-box);
    margin: 10px;
    border: var(--border);
}
.fifth__section{
    width: 100%;
    height: var(--section-height-md);

}
.fifth__section__box{
    width: var(--box-width-md);
    height: var(--box-height);
    background-color: var(--bg-color-box);
    margin: 10px 40vh;
    border: var(--border);
}
.fifth__section__boxes{
    width: 100%;
}
.indent__box{
    position: relative;
    bottom: 10px;
    left: calc(var(--box-width-md) + 220px);
}
.md{
    width: var(--box-width-md);
    height: var(--box-height-md);
}
.lg{
    width: calc(var(--box-width-md) + var(--box-width));
    height: var(--box-height-md);
    position: static;

}
